$primary-dark-color: #1c1c1c;
$secondary-dark-color: #424242;
$primary-light-color: #f8f9fa;

@mixin linear-gradient($from-color, $from-where, $to-color, $to-where, $repeat: none) {
    background-image: -webkit-linear-gradient(top, $from-color $from-where, $to-color $to-where);
    background-image: -moz-linear-gradient(top, $from-color $from-where, $to-color $to-where);
    background-image: -ms-linear-gradient(top, $from-color $from-where, $to-color $to-where);
    background-image: -o-linear-gradient(top, $from-color $from-where, $to-color $to-where);
    background-image: linear-gradient(to bottom, $from-color $from-where, $to-color $to-where);
    background-repeat: $repeat;
}

@mixin text-shadow($x, $v, $blur, $color) {
    -webkit-text-shadow: $x $v $blur $color;
    text-shadow: $x $v $blur $color;
}

@mixin box-shadow($string) {
    -webkit-box-shadow: $string;
    box-shadow: $string;
}

html {
    background-color: #171717;
    /*@include linear-gradient(#000, 0, transparent, 100%);*/
}

body {
    background-color: transparent;
    background-image: url(../img/pattern.png), url(../img/flowers-dark.png);
}

.lt-ie9 {
    body {
        background-image: url(../img/pattern.png);
    }
}

#site-wrapper {
    background-image: -webkit-radial-gradient(center center, ellipse cover, #2a2a2a -90%, transparent);
    background-image: -moz-radial-gradient(center center, ellipse cover, #2a2a2a -90%, transparent);
    background-image: -ms-radial-gradient(center center, ellipse cover, #2a2a2a -90%, transparent);
    background-image: -o-radial-gradient(center center, ellipse cover, #2a2a2a -90%, transparent);
    background-image: radial-gradient(center center, ellipse cover, #2a2a2a -90%, transparent);
}

.lt-ie9 {
    #site-wrapper {
        background: url(../img/flowers-dark.png) center top no-repeat;
    }
}

#logo {
    h1 {
        a {
            color: $primary-light-color;
            @include text-shadow(2px, 2px, 2px, #000);
        }        
    }
    
    h2 {
        color: #a7a8a8;
    }    
}

#intro-text {
    background-color: rgba(0,0,0,0.1);
    color: $primary-light-color;
    @include box-shadow(0 1px 1px #000);
}