@font-face {
    font-family: CartoGothicStd-Book;
    src: url(fonts/CartoGothic-Std/CartoGothicStd-Book.eot);
    src: url(fonts/CartoGothic-Std/CartoGothicStd-Book.eot?#iefix) format('embedded-opentype'),
        url(fonts/CartoGothic-Std/CartoGothicStd-Book.woff) format('woff'),
        url(fonts/CartoGothic-Std/CartoGothicStd-Book.ttf) format('truetype');
}

@font-face {
    font-family: CartoGothicStd-Italic;
    src: url(fonts/CartoGothic-Std/CartoGothicStd-Italic.eot);
    src: url(fonts/CartoGothic-Std/CartoGothicStd-Italic.eot?#iefix) format('embedded-opentype'),
        url(fonts/CartoGothic-Std/CartoGothicStd-Italic.woff) format('woff'),
        url(fonts/CartoGothic-Std/CartoGothicStd-Italic.ttf) format('truetype');
}