#pagination {
    font-size: 13px;
    margin-bottom: 18px;

    p:after {
        @include clearfix;
    }

    .pagination-numbers {
        display: inline-block;
        float: left;

        a,
        .pagination-current {
            display: inline-block;
            line-height: 34px;
            float: left;
            margin: 0 6px 6px 0;
            text-align: center;  
            @include text-shadow(1px, 1px, 0, #000);            

            width: 34px;
        }

        .pagination-current {
            background: url(../img/pagination.png) no-repeat 0px -34px;
            color: $primary-dark-color;
            @include text-shadow(1px, 1px, 0, #fff);
        }

        a {
            background: url(../img/pagination.png) no-repeat 0px 0px;
            color: #fff;

            &:hover {
                background: url(../img/pagination.png) no-repeat 0px -34px;
                color: $primary-dark-color;
                @include text-shadow(1px, 1px, 0, #fff);
            }
        }

        &:after {
            @include clearfix;
        }
    }

    .pagination-next,
    .pagination-previous {
        color: #fff;
        display: inline-block;
        float: left;
        line-height: 34px;
        margin: 0 6px 6px 0;
        @include text-shadow(1px, 1px, 0, #000);

        &:hover {
            color: $primary-dark-color;
            @include text-shadow(1px, 1px, 0, #fff);
        }
    }

    .pagination-next {
        background: url(../img/pagination.png) no-repeat right 0px;
        padding: 0 20px 0 10px;

        &:hover {
            background-position: right -34px;
        }
    }

    .pagination-previous {
        background: url(../img/pagination.png) no-repeat left -68px;
        padding: 0 10px 0 20px;

        &:hover {
            background-position: left -102px;
        }
    }
}