.widget.widget_search {
    .searchform-wrapper {
        padding: 14px 18px 18px 18px;
    }    

    .searchform {
        background-color: #262626;
        border: solid #2f2f2f 1px;
        border-top-color: #000;
        border-left-color: #000;
        vertical-align: top;

        input {
            background: none;
            border: none;
            color: #fff;
            font-size: 12px;
            line-height: 19px;            
            padding-left: 3px;
            vertical-align: top;

            width: 232px;
            height: 19px;
        }        

        a {
            background: url(../img/main-sprite.png) no-repeat -201px 0;
            display: block;
            float: right;
            vertical-align: top;

            width: 19px;
            height: 19px;

            &:hover {
                background-position: -201px -20px;
            }
        }
    }
}