.widget.widget_categories {
    ul {
        &:after {
            @include clearfix;  
        }            
        li {
            background: url("img/widget-short-line.png") center bottom no-repeat;
            display: inline-block;
            float: left;
            margin: 0 17px 0 0;
            padding: 4px 0 8px;
            width: 122px;
            @include overflow-safe;            
            &:nth-child(1) {
                padding-top: 0;
            }
            &:nth-child(2) {
                padding-top: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
            a {
                background: url("img/arrow.png") left 4px no-repeat;
                color: #fff;
                padding-left: 20px;
                &:hover {
                    text-decoration: underline;
                }
            }                
        }
    }
}

.lt-ie9 {
    .widget.widget_categories {
        ul {
            li {
                background: none;
                border-bottom: 1px solid #262626;
                width: 100%;
            }
        }
    }
}